html, body{
    padding:0px;
}
#backgroundCanvas {
    position:absolute;
    top:0px;
    left:0px;
    width:1200px;
    height:9999px;
    z-index:9999;
}
#currentCanvas {
    position:absolute;
    top:0px;
    left:0px;
    width:1200px;
    height:9999px;
    z-index:10000;
}

#Iframe {
    position:absolute;
    background:white;
    top: 0px;
    left: 0px;
    width:1200px;
    height:9999px;
    z-index:1;
}

#controls{
color:white;
margin:0px;
padding:10px;
float:left;
height:20px;
}

#controls a:link{
    color:white;
}

#controls a:visited{
    color:white;
}

#container{
    width:1000px;
    height:1000px;
    overflow:auto;
    position:absolute;
}
